<%layout('./layouts/boilerplate.ejs')%>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Signup For WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">  <!-- To add margin to bottom of 3 -->
                <label for="username" class="form-label">Username:</label>
               <input type="text" id="username" name="username" class="form-control"  required> <!-- Using this way in name we will directly get all content in form of object in List -->
                <div class="valid-feedback">Looks good!</div>     <!--This msg will appear when user have correctly entered the needed validations according to schema-->
            </div>

            <div class="mb-3">  <!-- To add margin to bottom of 3 -->
                <label for="email" class="form-label">Email:</label>
               <input type="email" id="email" name="email" class="form-control"  required> <!-- Using this way in name we will directly get all content in form of object in List -->
             </div>

            <div class="mb-3">  <!-- To add margin to bottom of 3 -->
                <label for="Password" class="form-label">Password:</label>
               <input type="password" name="password"  class="form-control"  required> <!-- Using this way in name we will directly get all content in form of object in List -->
            </div>
      
             <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>